@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



* {
    font-family: 'Open Sans', sans-serif;
}


body {
    background-image: url(../img/building1.png);
    background-color: rgba(19, 19, 27, 0.897);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.logo {
    width: 200px;
    display: flex;
    position: relative;
    top: -80px;
    left: 15px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 150vh;
}

.container {
    background-color: rgb(217, 217, 217, 0.2);
    
}

.top-header {
    display: flex;
    place-content: center;
    align-items: center;

}

header {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
    top: -80px;
}

.submit-field {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    top: -75px;
}

.input {
    height: 45px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #4A494E;
    padding: 0 0 0 45px;
    background: #D9D9D9;
}

i {
    height: 12px;
    width: 12px;
    position: relative;
    top: -33px;
    left: 24px;
    color: #4A494E;
}

::-webkit-input-placeholder {
    color: #4A494E;
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 80%;
    background: rgba(89, 197, 205, 0.8);
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10px;
}

.submit:hover {
    background: rgba(108, 248, 255, 0.8);
}